#header {
  /* opacity: 0.5; */
  width: 100%;
  min-height: 80px;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.3) 0%,
    rgba(192, 206, 234, 0.3) 100%
  );
  backdrop-filter: blur(2px);
}
#bg {
  position: relative;
  height: 13138px;
  width: 100%;
  background-image: url(../assets//PNG//bg_sky.png);
  background-position: center;
}
#sun {
  position: absolute;
  top: 180px;
  left: 465px;
}
#logo_main {
  position: absolute;
  top: 310px;
  left: 640px;
}
#cloud_sm {
  position: absolute;
  top: 595px;
  left: 197px;
}
#cloud_xl {
  position: absolute;
  top: 480px;
  right: 111px;
}
#ufo_wrapper {
  position: absolute;
  top: 600px;
  right: 346px;
}
#et {
  position: absolute;
  top: 316px;
  right: 606px;
}
#button {
  position: absolute;
  top: 855px;
  right: 30px;
  width: 180px;
  height: 75px;
  background-image: url(../assets//PNG/btn_sm_1.png);
  background-repeat: no-repeat;
}
#button:hover {
  background-image: url(../assets//PNG/btn_sm_2.png);
}
#button:active {
  background-image: url(../assets//PNG/btn_sm_3.png);
}
